@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {}

body {}

@layer utilities {}

@layer components {
  label:has(input[type="radio"]) {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid rgb(156 163 175 / 1);
  }

  label:has(input[type="radio"]:checked) {
    /* background: rgb(156 163 175 / 1); */
    background: rgb(209 213 219 / 1);
  }

  input[type="radio"] {
    display: none;
  }

  input,
  select {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(156 163 175 / 1);
    background: none;
  }

  input:required {
    position: relative;
  }

  input:required::before {
    background: coral;
    content: "";
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid rgb(156 163 175 / 1);
    right: 100%;
    top: 0;
    width: 100px;
  }

  .order-items-container>*:nth-child(2n+1) {
    background: rgb(0, 0, 0, .1)
  }
}